.hover-box {
    width:100px;
    height:100px;
    background-color: #000000;
}

.hover-box:hover {
    transform: translateX(200px) scale(.5) rotate(45deg)
}

.spin-box {
    width:100px;
    height:100px;

    margin-top: 25px;
    margin-left: 25px;
    background-color: #ff0000;

    animation: spin;
    animation-duration: 10s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1)
    animation-iteration-count: infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.move-box {
    width:100px;
    height:100px;

    margin-top: 25px;
    background-color: #0000ff;

    animation: move;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes move {
0%{
    transform: translate(0px, 0px);
    background-color: #0000ff
}

25%{
    transform: translate(0px, 300px);
    background-color: #ff0000
}

50%{
    transform: translate(300px, 300px);
    background-color: #00ff00
}
75%{
    transform: translate(300px, 0px);
    background-color: #ff00ff
}
100%{
    transform: translate(0px, 0px);
    background-color: #0000ff
}
}